<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Formulaire photo de vacances</title>
    <style>
        #imageUploadNode {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
        }
        .headText {
            color: rgb(33 70 65);
        }
        .formSubmit {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
        }
        .description {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
        }
        .fileUpload {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .form-label-title {
            margin-right: 63px;
            color: rgb(33 70 65);   
        }
        .form-label-description {
            margin-right: 15px;
            color: rgb(33 70 65);
        }
        .form-label-fileUpload {
            margin-right: 30px;
            color: rgb(33 70 65);
        }
        .form-control {
            width: 100%; 
            margin-bottom: 10px;
        }
    </style>
  </head>
<body id="imageUploadNode">
    <div>
        <h2 class="m-3 text-center headText">Bonjour, ceci est un formulaire d'ajout de photo de vacances</h2>
        <br>
        <form action="/upload" method="POST" enctype="multipart/form-data" class="text-center formSubmit">
            <div style="width: 85%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <div class="title">
                    <label for="validationCustom1" class="form-label-title">Titre:</label>
                    <input type="text" name="title" class="form-control" id="validationCustom1" placeholder="Titre" required/>
                </div>
                <div class="description">
                    <label for="validationCustom2" class="form-label-description">Description:</label>
                    <textarea name="description" class="form-control" id="validationCustom2" placeholder="Description" required></textarea>
                </div>        
                <div class="fileUpload">
                    <label for="fileUploadCustom3" class="form-label-fileUpload">Choisissez votre photo:</label>
                    <input type="file" name="photo" class="form-control-file" id="fileUploadCustom3">
                </div>
                <button type="submit" class="btn btn-outline-primary" style="margin-top:20px;">Poster</button>
            </div>
        </form>
    </div>
    <div style="width 100%; height: 4px; background-color: black;"></div>
    <div class="container-fluid" style="background-color: #989898;width:50%;">
    <div class="row">
    {{#response}}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card m-3">
                <div class="card-header p-0">   
                    <img src="{{photo}}" class="card-img-top">
                </div>
                <div class="card-body">     
                    <h5 class="card-title m-0">{{title}}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>  
    {{/response}}
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>